footer {
    background-color: var(--bg-primary);
    padding-block: 2rem;
    padding-inline: 8%;
    font-weight: 400;
    font-size: .9rem;
    color: var(--text-primary);
}
footer h4 {
    font-size: 1.2rem;
}
footer li{
    list-style-type: none;
    margin-block: .8rem;
}
.first-part{
    justify-content: space-between !important;
    align-items: flex-start !important;
    flex-wrap: wrap;
    gap: 1rem;
}
.first-part div {
    max-width: 15rem;
}
.second-part{
    margin-top: 2rem;
}
.icons--container > * {
    margin-right: .5rem;
}
.flag {
    width: 3rem;
}
.reserved p {
    text-align: center;
    font-size: 14px;
}