@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, Aven, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	--bg-primary: green;
	--bg-secondary: rgb(84, 179, 84);
	--text-primary: white;
	--text-secondary: rgb(121, 206, 121);
	--fs-normal: 1rem;
	--fs-large: 1.2rem;
	--fs-xlarge: 3rem;
	--fs-small: 0.9rem;
}

@media screen and (max-width: 1200px) {
	:root {
		--fs-xlarge: 2rem;
		--fs-large: 1rem;
	}
}
@media screen and (max-width: 450px) {
	:root {
		--fs-xlarge: 1.5rem;
	}
	.form--control {
		width: 20rem;
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: var(--text-primary);
}

button {
	outline: none;
	display: block;
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
textarea {
	outline: none;
	border: solid 1.5px #d3d3d3;
	padding: 0.75rem;
	font-size: 1rem;
	font-family: Inter, Aven, Helvetica, Arial, sans-serif;
	border-radius: 0.55rem;
	box-shadow: 0 0 4px 1px #d3d3d3;
	margin-bottom: 0.2rem;
	min-width: 100%;
}
input:focus {
	border: 1.8px solid rgb(121, 206, 121);
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
textarea {
	width: 80% !important;
	min-height: 8.25rem;
	resize: none;
}
label {
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	display: inline-block;
	font-size: 0.95rem;
	opacity: 0.8;
}
img {
	max-width: 100%;
	height: auto;
}

body,
html {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	overflow-x: hidden;
}

/* .flex {
	display: flex;
	justify-content: center;
	align-items: center;
} */
.flex-col {
	flex-direction: column;
}
.btn {
	padding: 0.5rem 0.65rem;
	border-radius: 6px;
	border: none;
	font-family: Inter, Aven, Helvetica, Arial, sans-serif;
	background-color: var(--text-primary);
	color: black;
	font-size: 0.85rem;
	cursor: pointer;
}
.btn-color {
	background-color: var(--bg-secondary);
	font-size: 1rem;
	padding: 0.75rem !important;
	color: var(--text-primary);
}
.btn-auth {
	width: 100%;
	background-color: var(--bg-secondary);
	font-size: 1rem;
	color: var(--text-primary);
	padding: 0.75rem !important;
	margin-bottom: 0.5rem;
}
.btn-disable {
	pointer-events: none;
}

.auth--container {
	position: relative;
	min-height: 100%;
	min-height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-block: 5rem;
	background-color: var(--bg-secondary);
}
.auth--container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: url(https://www.toptal.com/designers/subtlepatterns/uploads/paisley.png);
	min-width: 100%;
	min-height: 100vh;
	z-index: -1;
	opacity: 0.6;
}
.auth--container h2 {
	margin-bottom: 1rem;
	color: white;
}
.form--control {
	padding: 1rem 2rem;
	border-radius: 1rem;
	width: 30rem;
	background: white;
	z-index: 3;
}
.auth-content {
	background: white;
	padding: 2rem 1.5rem;
	box-shadow: 0 0 5px rgb(146, 145, 145);
	border-radius: 10px;
	min-width: 25rem;
	gap: 5rem;
}

.menu--container {
	position: relative;
	width: 25px;
	height: 25px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}
.menu--btn {
	position: relative;
	width: 100%;
	height: 2px;
	background-color: #434343;
	transition: all 0.2s ease-in-out;
	border-radius: 5px;
}
.menu--btn::before,
.menu--btn::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #434343;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}
.menu--btn::before {
	transform: translateY(6px);
}
.menu--btn::after {
	transform: translateY(-6px);
}
.menu--btn.open {
	background: transparent;
}
.menu--btn.open::before {
	transform: rotate(45deg);
}
.menu--btn.open::after {
	transform: rotate(-45deg);
}
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

.table-container th {
	border-right: 1px solid black;
	border-left: 1px solid black;
	padding: 0.5rem 1rem;
}
@media screen and (max-width: 450px) {
	.form--control {
		width: 21rem;
	}
}
